@import '../abstract/variables';

.main-header {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: $color_light_gray;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 4rem;
    font-weight: bold;

    @media (max-width: $screen_xs) {
      font-size: 3rem;
    }
  }

  &__add-post {
    font-size: 1.5rem;
    color: $color_dark_gray;
    font-weight: bold;
    margin-right: 2rem;
    text-transform: uppercase;
    padding: 1rem;

    @media (max-width: $screen_xs) {
      font-size: 1.2rem;
    }
  }
}

.logo-link {
  text-decoration: none;
  color: $color_dark_gray;
}
