<%= render partial: 'shared/user' ,locals:{user_data: @user}%>

<br>

<div class='bio-container'>
  <h3 class='bio-container--heading'>Bio</h3>
  <p class='bio-container--body'><%= @user.bio %></p>
</div>

<% @user.most_recent_posts.each do |post|%>
<%= render partial: 'shared/post' ,locals:{post_data: post,current_user_id: @user_id}%>
<br>
<%end%>

<div class='btn-box'>
   <button class='btn-posts'>See all posts</button>
</div>
