  <ul class='comments-container'>
    <%comments_data.each do |comment|%>
      <li class='comments-container--list'>
        <div><span class='commenter'><%=comment.author.name%></span> : <%=comment.text%>
        <% if can? :destroy ,comment %>
          <%= button_to 'Remove comment',user_post_comment_path(current_user,comment.post, comment), method: :delete %>
        <% end %>
        </div>
      </li>
    <%end%>
  </ul>

