<%= render partial: 'shared/user' ,locals:{user_data: @user}%>
<%@user_posts.each do |post|%>
  <%= render partial: 'shared/post' ,locals:{post_data: post,current_user_id: @current_user_id}%>
  <br>
  <% unless post.comments_counter==0%>
  <%= render partial: 'shared/comment_container' ,locals:{comments_data: post.most_recent_comments}%>
  <br>
  <% end %>
<%end%>

<div class='pagination-btn-box'>
<button class='pagination-btn'>Pagination</button>
</div>